{
  "reporter": [
    "lcov",
    "text-summary"
  ],
  "lines": 70,
  "statements": 70,
  "functions": 70,
  "branches": 60,
  "include": [
    "src/**/*.js"
  ],
  "exclude": [
    "./**/*.spec.js",
    "src/cli.js"
  ],
  "require": [
    "./test/globals"
  ],
  "cache": true,
  "all": true,
  "check-coverage": true
}
